@charset "utf-8";

@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	-moz-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	text-size-adjust: 100%;
    font-size: 100%;
}

img {
	width: 100%;
    display: block;
}

body {
    margin: 0;
    padding: 0;
}

header {
    background-color: white;
}

.logo {
    width: 6rem;
    height: auto;
    margin: 1rem auto;
    position: static;
}

.nav-top {
    clear: both;
}

.nav-top ul {
    margin: 0;
    padding: 0;
    background-color: #da9f93;
    text-align: center;
}

.nav-top li{
    margin: 0;
    padding: 0;
    display: inline;
}

.nav-top a, 
.nav-top a:link
.nav-top a:visited {
    display: inline-block;
    margin: 0;
    padding: 1rem 10%;
    color: white;
    font-size: 1.75rem;
    text-decoration: none;
}

.selected {
    background-color: #f3d1a8;
}

.billboard {
    background-image: url(../images/mainimage.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 0;
    overflow: hidden;
}

.billboard h1 {
    margin: 14rem 0 0;
    background-color: #f3d1a8;
    text-align: center;
    color: white;
    font-size: 1.5rem;
    padding: 1rem 10%;
}

.product {
    background-image: url(../images/storefront.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    overflow: hidden;
    position: static;
}

.product h1 {
    margin: 14rem 0 0;
    background-color: #da9f93;
    font-size: 1.5rem;
    text-align: center;
    color: black
}

sup {
    font-size: 1rem;
}

article {
    margin: 0;
    padding: 1.5rem 5% 5%;
}

h1 {
    margin: 0 0 1.5rem;
    padding: 1rem 10%;
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1rem;
    margin: 1.rem 5%;
}

figure {
    margin: 0 auto 1.5rem;
    width: 50%;
}

figure a,
figurea:link,
figure a:visited {
    font-size: 1rem;
    text-decoration: none;
}

.bucket2 {
    overflow: hidden;
}

.bucket2 figure {
    float: left;
    width: 45%; 
    margin: 0 10% 1.5rem 0; 
    padding: 0;
}

.bucket2 figure:nth-child(even) {
 margin: 0;     
}

.bucket2 figcaption {
    text-decoration: none; 
    margin: 0; 
    padding: .5rem 10%;
    color: white; 
    background-color: #da9f93; 
    font-size: 1rem;
    text-align: center;
}
   
.company {
    background-image: url(../images/company.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100%;
    margin: 0 0;
    overflow: hidden;
}

.company h1 {
    margin: 14rem 0 0;
    text-align: center;
    font-size: 1.5rem;
    background-color: #da9f93;
}

.social {
    overflow: hidden;
    margin: 0;
    padding: 0 5%;
    position: static;
}

.social li {
    float: left;
    width: 22%;
    list-style-type: none;
    margin: 3rem 15% 1rem 0;
    padding: 0;
}

.social li:last-child {
    margin-right: 0;
}

.bucket3 {
    overflow: hidden;
}

.bucket3 {
    overflow: hidden;
    margin: 0 5% 0 1rem;
    padding: 0;
}

.bucket3 img {
    float: left;
    width: 80%;
    overflow: hidden;
}

.bucket3 figcaption {
    float: left;
    width: 100%;
    margin: 0;
    padding: .5rem 1rem;
    font-size: 1.25rem;
    background-color: white;
}

footer {
    background-color: #da9f93;
    margin: 0; 
    padding: .5rem 0 1rem;
    overflow: hidden;
}

footer p {
    text-align: center;
}

details summary::-webkit-details-marker {
    background: #da9f93;
    color: #f3d1a8;
    font-size: 100%;
}

details {
    margin: 0 0 1.5rem;
}

p {
    font-size: 1rem;
}
    
    
    

